.blog-face {
    text-align: center;
    background: #fafafa;
}

.indent {
    margin-left: 30px;
}

.contact {
    margin-top: 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    a {
        background: #C9777A;
        color: #FFFFFF;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 8px;
        white-space: nowrap;

        &:hover {
            transition: background 0.3s ease;
            background: #666;
        }
    }
}

img {
    width: 50px;
    height: 50px;
    padding: 5px 10px;
}

.bd-callout {
//    background-color: #FFD3B5;
    padding: 0.25rem;
    margin-top: 1.00rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 1.00rem;
    border: 1px solid #e9ecef;
    border-width: 0.05rem;
    border-radius: 0.25rem;
}

.bd-callout-info {
    border-color: #C9777A;
}
