@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@config "../../tailwind.config.js";

@layer base {
    html {
        font-family: 'Cute Font';
        font-style: normal;
        font-size: 2.0em;
        font-weight: 400;
        font-display: swap;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
