---
layout: default
title: blog
public: true
---

<div>
    <article class="post-content wiki-list">
        <p>
        <h2>Blog</h2>
    </article>
    <ul>
        {% for post in paginator.posts %}
        {% if post.public == true %}
        <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <span>{{ post.title }}</span>
                <div style="float: right;">{{ post.date | date: "%Y.%m.%d" }}</div>
                <div>- {{ post.summary }}</div>
                <ul class="tag-list">
                    {% for tag in post.tags %}
                    <li class="post-tag">
                        <a href="/tag/#{{tag}}" >#{{tag}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <p>
</div>
